.footer{
 display:flex;
 width:100%;
 min-height: 120px;
 box-sizing: border-box;
 background-size: cover;
 background-position: center;
 justify-content: space-between;
 align-items: center;
 color: #fff;
 font-family: "Montserrat", sans-serif;
 font-size: 20px;
}

.redes img{
 padding: 0 15px;
}